/* ------------  FARBEN ------------


#caccce;
#231f20;
#c3161c;



*/

html,
body {
    height: 100%;
}

#top {
    box-shadow: 0 2px 6px #aaa;
}

#topnavi {
    justify-content: flex-end;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
}

#kopfcontainer {
    /*background: #e9eaeb;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/bg.jpg');*/
}

#kopf {
    height: 108px;
    display: block;
    margin-bottom: 0;
    /*margin-top: 12px;*/
}

#logo {
    justify-content: center;
}

#logo .col-6 {
    padding-top: 0;
}

#logo svg {
    width: 200px;
    height: auto;
    margin-top: 18px;
}

#logo .col-6.sitename {
    padding-top: 39px;
    color: #c3161c;
    font-size: 2em;
    text-align: right;
}

.navigationrow {
    justify-content: flex-end;
    ;
}

#ganzebreiteoben .frame {
    margin-bottom: 0;
}

#ganzebreiteoben {
    margin-bottom: 40px;
    margin-top: 30px;
}

#ganzebreiteoben figure.image {
    margin: 0;
    padding: 0;
}

#ganzebreiteoben .ce-above .ce-gallery {
    margin-bottom: 0;
}


/*######################  MITTE  ##*/

#mitte {
    padding-bottom: 80px;
}


/*######################  FUSS ####*/

#fuss {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    background: #ddd;
}

input[type="text"],
input[type="password"] {
    margin: 6px 0;
}