





.link-to-top a {
  border-top: dotted 2px #ccc;
  padding: 5px 12px;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
}


.frame-hellerkasten {
  background: #fafafa;
  border: solid 1px #ddd;
  padding: 20px;
}

.ce-headline-kasten {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  background: #fafafa;
  padding: 4px 2px;
}
.container-hintergrundbild .vordergrund header, .container-hintergrundbild .vordergrund p {
  background: rgba(255,255,255,0.5);
  padding: 16px 6px;
}


.container-highlight .vordergrund {
  position: absolute;
  bottom:20px;
  left:0;
  overflow: hidden;
  /*height: 100%;*/
  width: 100%;
  background: rgba(0,0,0,0.3);
  padding: 12px 12px 8px 20px;
}
.container-highlight .vordergrund p, .container-highlight .vordergrund h2, .container-highlight .vordergrund h3,.container-highlight .vordergrund h4, .container-highlight .vordergrund h5, .container-highlight .vordergrund a {
	color: #fff;
}
.container-highlight .vordergrund h5 {
	text-transform: uppercase;
}

.spalten-2 .container-highlight .vordergrund {
	  padding: 2px 12px 12px 20px;
}
.spalten-3 .container-highlight .vordergrund {
	  padding: 2px 12px 12px 20px;
}
.spalten-4 .container-highlight .vordergrund {
	  padding: 0px 12px 12px 20px; 
}
.spalten-2 .container-highlight .vordergrund p {
}
.spalten-2 .container-highlight .vordergrund h3 {
	margin: 0.4em 0 0 0;
}
.spalten-2 .container-highlight .vordergrund h2 {
	margin: 0.4em 0 0 0;
}
.spalten-3 .container-highlight .vordergrund p {
	font-size: 0.95rem;
	padding: 0.2em 0;
	margin: 0.4em 0 0 0;
}
.spalten-3 .container-highlight .vordergrund h3 {
	font-size: 1.2em;
	padding: 0.2em 0;
	margin: 0.4em 0 0 0;
}
.spalten-3 .container-highlight .vordergrund h2 {
	font-size: 1.5rem;
	padding: 0.2em 0;
	margin: 0.4em 0 0 0;
}

.spalten-4 .container-highlight .vordergrund p {
	font-size: 0.92rem; 
	padding: 0.15em 0;
	margin: 0.4em 0 0 0;
}
.spalten-4 .container-highlight .vordergrund h3 {
	font-size: 1.1rem; 
	padding: 0;
	margin: 0.4em 0 0 0;
}
.spalten-4 .container-highlight .vordergrund h2 {
	font-size: 1.3rem; 
	padding: 0;
	margin: 0.4em 0 0 0;
}






.ce-border img {
  padding:3px;
  background: #fff;
  border: solid 1px #ddd;
}

/*TEST*/ 

.ce-intext.ce-left ol, .ce-intext.ce-left ul {
  overflow: hidden;
  margin-left: 0px;
  padding-left: 12px;
}



/*PAGETEASER mit KATEGORIENWAHL*/

.frame-layout-3.frame-type-menu_abstract .PageTeaser {
  display: none;
}
.catList {
  margin-bottom: 30px;
}
.catListItem {
  border: solid 1px #666;
  padding: 4px 8px;
  background: #fafafa;
  border-radius: 3px;
  display: inline;
  margin-right: 12px;
  text-transform: uppercase;
  font-size: 0.8em;
}
.catListItem:hover {
  cursor: pointer;
  background: #eee;
}
.catListItem.active {
  background: #ffef82;
}


.frame-type-menu_subpages {
  
  

}
.frame-type-menu_subpages li{
    display: inline-table;
    min-width: 200px;
    list-style: none;
  margin-bottom: 30px;
}
.frame-type-menu_subpages li:hover {
  background: #ffef82;
}
.frame-type-menu_subpages li a {
  display: block;
  text-decoration: none;
  min-width: 200px;
  padding: 20px;
  border: solid 1px #000;
  text-align: center;

  border-radius: 3px;
}