/* sm-core-css.css */

.sm {
    box-sizing: border-box;
    position: relative;
    z-index: 9999;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sm,
.sm ul,
.sm li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
}

.sm-rtl,
.sm-rtl ul,
.sm-rtl li {
    direction: rtl;
    text-align: right;
}

.sm>li>h1,
.sm>li>h2,
.sm>li>h3,
.sm>li>h4,
.sm>li>h5,
.sm>li>h6 {
    margin: 0;
    padding: 0;
}

.sm ul {
    display: none;
}

.sm li,
.sm a {
    position: relative;
}

.sm a {
    display: block;
}

.sm a.disabled {
    cursor: default;
}

.sm::after {
    content: "";
    display: block;
    height: 0;
    font: 0px/0 serif;
    clear: both;
    overflow: hidden;
}

.sm *,
.sm *::before,
.sm *::after {
    box-sizing: inherit;
}

.sm-simple {
    /*border: 1px solid #bbbbbb;*/
    background: #fff;
}

.sm-simple a,
.sm-simple a:hover,
.sm-simple a:focus,
.sm-simple a:active {
    padding: 13px 20px;
    /* make room for the toggle button (sub indicator) */
    padding-right: 58px;
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    text-decoration: none;
}

.sm-simple a.current {
    background: #555555;
    color: #fff;
}

.sm-simple .current a {
    color: #c3161c;
}

.sm-simple a.disabled {
    color: #cccccc;
}

.sm-simple a .sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 4px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 14px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
    .sm-simple a .sub-arrow::before {
        content: '+';
    }
    .sm-simple a.highlighted .sub-arrow::before {
        content: '-';
    }
}

.sm-simple li {
    /*border-top: 1px solid rgba(0, 0, 0, 0.05);*/
}

.sm-simple>li:first-child {
    border-top: 0;
}

.sm-simple ul {
    background: rgba(179, 179, 179, 0.1);
}

.sm-simple ul a,
.sm-simple ul a:hover,
.sm-simple ul a:focus,
.sm-simple ul a:active {
    font-size: 14px;
    border-left: 8px solid transparent;
}

.sm-simple ul ul a,
.sm-simple ul ul a:hover,
.sm-simple ul ul a:focus,
.sm-simple ul ul a:active {
    border-left: 16px solid transparent;
}

.sm-simple ul ul ul a,
.sm-simple ul ul ul a:hover,
.sm-simple ul ul ul a:focus,
.sm-simple ul ul ul a:active {
    border-left: 24px solid transparent;
}

.sm-simple ul ul ul ul a,
.sm-simple ul ul ul ul a:hover,
.sm-simple ul ul ul ul a:focus,
.sm-simple ul ul ul ul a:active {
    border-left: 32px solid transparent;
}

.sm-simple ul ul ul ul ul a,
.sm-simple ul ul ul ul ul a:hover,
.sm-simple ul ul ul ul ul a:focus,
.sm-simple ul ul ul ul ul a:active {
    border-left: 40px solid transparent;
}

@media (min-width: 768px) {
    /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
    /* start... (it's not recommended editing these rules) */
    .sm-simple ul {
        position: absolute;
        width: 12em;
    }
    .sm-simple li {
        float: left;
    }
    .sm-simple.sm-rtl li {
        float: right;
    }
    .sm-simple ul li,
    .sm-simple.sm-rtl ul li,
    .sm-simple.sm-vertical li {
        float: none;
    }
    .sm-simple a {
        white-space: nowrap;
    }
    .sm-simple ul a,
    .sm-simple.sm-vertical a {
        white-space: normal;
    }
    .sm-simple .sm-nowrap>li>a,
    .sm-simple .sm-nowrap>li> :not(ul) a {
        white-space: nowrap;
    }
    /* ...end */
    .sm-simple {
        background: #fff;
    }
    .sm-simple a,
    .sm-simple a:hover,
    .sm-simple a:focus,
    .sm-simple a:active,
    .sm-simple a.highlighted {
        padding: 11px 20px;
        color: #fff;
    }
    .sm-simple a:hover,
    .sm-simple a:focus,
    .sm-simple a:active,
    .sm-simple a.highlighted {
        /*background: #c6ced1;*/
        color: #c3161c;
    }
    .level-1.current a.has-submenu,
    .level-2.current a {
        /*    background: #c6ced1;*/
        color: #c3161c;
    }
    .level-2 a:hover {
        background: #e9eaeb;
    }
    .sm-simple a.disabled {
        background: #fff;
        color: #cccccc;
    }
    .sm-simple a.has-submenu {
        padding-right: 32px;
    }
    .sm-simple a .sub-arrow {
        top: 50%;
        margin-top: -8px;
        right: 20px;
        width: 8px;
        height: 16px;
        font: 14px/16px monospace !important;
        background: transparent;
    }
    .sm-simple a.highlighted .sub-arrow::before {
        /*content: '+';*/
    }
    .sm-simple>li {
        border-top: 0;
        /*border-left: 3px solid #c3161c;*/
        border-left: 1px solid #c3161c;
    }
    .sm-simple>li:first-child {
        border-left: 0;
    }
    .sm-simple ul {
        /*border: 1px solid #bbbbbb;*/
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .sm-simple ul a {
        border: 0 !important;
    }
    .sm-simple ul a.has-submenu {
        padding-right: 20px;
    }
    .sm-simple ul a .sub-arrow {
        left: 8px;
        right: auto;
    }
    .sm-simple ul>li {
        border-left: 0;
        border-top: 1px solid #eeeeee;
    }
    .sm-simple ul>li:first-child {
        border-top: 0;
    }
    .sm-simple .scroll-up,
    .sm-simple .scroll-down {
        position: absolute;
        display: none;
        visibility: hidden;
        overflow: hidden;
        background: #fff;
        height: 20px;
    }
    .sm-simple .scroll-up-arrow,
    .sm-simple .scroll-down-arrow {
        position: absolute;
        top: -2px;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 8px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #555555 transparent;
    }
    .sm-simple .scroll-down-arrow {
        top: 6px;
        border-style: solid dashed dashed dashed;
        border-color: #555555 transparent transparent transparent;
    }
    .sm-simple.sm-rtl a.has-submenu {
        padding-right: 20px;
        padding-left: 32px;
    }
    .sm-simple.sm-rtl a .sub-arrow {
        left: 20px;
        right: auto;
    }
    .sm-simple.sm-rtl.sm-vertical a.has-submenu {
        padding: 11px 20px;
    }
    .sm-simple.sm-rtl.sm-vertical a .sub-arrow {
        left: auto;
        right: 8px;
    }
    .sm-simple.sm-rtl>li:first-child {
        border-left: 1px solid #eeeeee;
    }
    .sm-simple.sm-rtl>li:last-child {
        border-left: 0;
    }
    .sm-simple.sm-rtl ul a.has-submenu {
        padding: 11px 20px;
    }
    .sm-simple.sm-rtl ul a .sub-arrow {
        left: auto;
        right: 8px;
    }
    .sm-simple.sm-vertical a .sub-arrow {
        left: 8px;
        right: auto;
    }
    .sm-simple.sm-vertical li {
        border-left: 0;
        border-top: 1px solid #eeeeee;
    }
    .sm-simple.sm-vertical>li:first-child {
        border-top: 0;
    }
}


/*################### Hamburger ###*/


/* Mobile menu toggle button */

.main-menu-btn {
    float: right;
    margin: 5px 10px;
    margin-right: -40px;
    position: relative;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: 29px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #555;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}


/* x icon */

#main-menu-state:checked~.main-menu-btn .main-menu-btn-icon {
    height: 0;
    background: transparent;
}

#main-menu-state:checked~.main-menu-btn .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#main-menu-state:checked~.main-menu-btn .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked)~#main-menu {
    display: none;
}

#main-menu-state:checked~#main-menu {
    display: block;
}

@media (min-width: 768px) {
    /* hide the button in desktop view */
    .main-menu-btn {
        position: absolute;
        top: -99999px;
    }
    /* always show the menu in desktop view */
    #main-menu-state:not(:checked)~#main-menu {
        display: block;
    }
}

.level-1.current a {
    /*	border-top:solid 2px #ffef82;
	border-bottom: solid 2px #ffef82;*/
}

.sm-simple {
    background: none;
}

.sm-simple a {
    color: #6b787d;
}

.sm-simple .level-2 a {
    color: #6b787d;
}

.fuss-rechts {
    text-align: right;
}

.footernavi {
    font-size: 0.8em;
}

a.footernavi {
    text-decoration: none;
    padding-left: 30px;
    color: #000;
}

a.footernavi:hover {
    color: #c3161c;
}


/* SUBNAVGIATION  */

.subnavigation {
    justify-content: space-between;
    margin-top: 4px;
    gap: 6px;
}

a.subnaviitem {
    padding: 12px;
    text-decoration: none;
    background-color: #555555;
    text-align: center;
    color: #fff;
    flex-grow: 1;
}

a.subnaviitem.linkto-17 {
    background: #585686;
}

a.subnaviitem.linkto-14 {
    background: #c3161c;
}

a.subnaviitem.linkto-13 {
    background: #ed9e21;
}

a.subnaviitem.linkto-12 {
    background: #edc509;
}

a.subnaviitem.linkto-11 {
    background: #a3c660;
}

a.subnaviitem.linkto-10 {
    background: #8eb3d5;
}

a.subnaviitem:hover {
    background: #eae6db;
    color: #c3161c;
}

a.subnaviitem.current {
    text-transform: uppercase;
}

.seitentitel {
    margin-top: 12px;
    color: #fff;
    justify-content: center;
    padding: 5px;
    font-size: 28px;
}

.seitentitel.linkto-17 {
    color: #585686;
}

.seitentitel.linkto-14 {
    color: #c3161c;
}

.seitentitel.linkto-13 {
    color: #ed9e21;
    border-bottom: solid 2px #ed9e21;
}

.seitentitel.linkto-12 {
    color: #edc509;
}

.seitentitel.linkto-11 {
    color: #a3c660;
}

.seitentitel.linkto-10 {
    color: #8eb3d5;
}