/public/typo3/
/public/index.php
/public/typo3conf/ext/
/public/typo3conf/AdditionalConfiguration.php
/public/fileadmin
public/_assets/
public/typo3temp/
public/uploads/
public/typo3conf/ENABLE_INSTALL_TOOL
/bin/
/vendor/
/.idea
.DS_Store
/backup
/var
packages/ieb/Resources/Private/Language/locallang_csh_*
/config/sites/main/config.yaml
/packages/mango