/* FARBEN 

rot: c3161c


*/

:root {
    /* HAUPTFARBEN */
    --f0: #ede9de;
    --f1: #c0c7b7;
    --f2: #94a89c;
    --f3: #6b8884;
    --f4: #48686f;
    --f5: #2f4858;
    /* extrahell */
    --f0a: #e5e6d8;
    --f0b: #DADBCF;
    /* WARNEN (gelb) */
    --fg0: #f7edbd;
    --fg1: #f5e7a5;
}

.tx-ieb table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Code Toggle */
#code-toggler {
    position: fixed;
    left: 30px;
    top: 60px;
    width: 150px;
    margin-top: 200px;
}
code {
    display: none;
}
/* PRINT */

@media print {
    @page {
        margin: 15mm;
    }
    .container {
        width: 100%;
        max-width: 100%;
    }
    .kriterium {
        break-inside: avoid;
    }
    #top,
    #kopfcontainer,
    .subnavigation {
        display: none;
    }
    .oecert.oecert-1,
    .oecert.oecert-2,
    #c-2-1,
    #c-2-a-2,
    #c-2-b,
    #c-2-2 {
        display: block;
    }
}


/* print ende */

#mangoTooltip {
  display: none;
  position: fixed;
  background: #fff;
  border: solid 1px #76736a;
  border-radius: 3px 3px 3px 0;
  padding: 3px 12px;
  font-size: 0.8em;
  line-height: 140%;
}
#mangoTooltip.active {
  display: block;
}

body {
    background-color: #f1ede4;
}

.fett {
    font-weight: 600;
}

.klein {
    font-size: 0.8em;
    color: var(--f4);
}

.inline {
    display: inline-block;
}

.abstand-klein {
    height: 8px;
}

.abstand-mittel {
    height: 16px
}
.hidden {
    display: none;
}
.abstand-gross {
    height: 40px;
}

.abstandoben {
    margin-top: 20px;
}

label {
    margin-bottom: 2px;
}

label.inline {
    display: inline;
}

.rechtsbuendig {
    text-align: right;
}

.kriterium {
    position: relative;
    border: solid 1px var(--f3);
    padding: 0 20px;
    background: var(--f0);
    margin-bottom: 36px;
}

.kriterium.nicht-ok {
    border: 2px solid var(--stammdaten);
}

.nicht-ok-kommentar {
    border: 4px solid #fff;
    background: #F4C67E;
    padding: 10px;
    font-size: 0.9em;
}

.testa.notok + div div {
    background: #F4C67E;
}

.trcheckcheck .multi-select-menu {
    display: none;
}
.trcheckcheck .multi-select-menu.zeigen {
    display: block;
}

h2, h1 {
    color: var(--f4);
}

.kriterium h3,
.kriterium h4 {
    color: var(--f4);
}

td {
    line-height: 150%;
}

.info {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 30px;
    height: 30px;
    filter: drop-shadow(2px 2px 2px var(--f2));
    cursor: pointer;
    background-image: url(../Img/info.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-small {
    width: 1.5em;
    height: auto;
}

span.pseudoknopf {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
}
span.pseudoknopf.mail {
    background: url('../Img/Email.svg');
    background-repeat: no-repeat;
    margin-left: 12px;
}

/* LOGIN ######################## */

.frame-type-felogin_login input[type="text"],.frame-type-felogin_login input[type="password"] {
    width: 300px;
    margin-bottom: 20px;
    border: solid 1px var(--f1);
    font-size: 1rem;
}
.frame-type-felogin_login label.permalogin {
    width: 174px;
    display: inline;
    padding-right: 20px;
}
#permalogin {
    margin-left: 20px;
}

/* MODAL BOX #################### */

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
    
}

#modal {
    border: solid 2px var(--f4);
    max-width: 1200px;
}

.knopf-s2.close {
    width: 94px;
    float: right;
    margin-top: 20px;
}

.kriteriumteil .info {
    top: -13px;
}

.kriteriumteil:first-child .info {
    top: 16px;
}

.info:hover {
    filter: none;
    opacity: 0.8;
}

.info.checked {
    background-image: url(../Img/close.svg);
}

.infobox {
    display: none;
    border: 4px solid var(--f4);
    width: 490px;
    height: auto;
    padding: 24px 18px;
    position: absolute;
    right: 40px;
    top: 54px;
    background-color: var(--f3);
    box-shadow: 2px 2px 8px var(--f3);
    color: #fff;
    font-size: 0.9em;
    line-height: 150%;
    z-index: 9999;
}

.infobox a {
    color: #fff;
}

.infobox a:hover {
    color: var(--fg0);
}

.kriteriumteil .infobox {
    top: 25px;
}

.kriteriumteil {
    position: relative;
    padding-bottom: 2px;
    margin-bottom: 37px;
    border-bottom: dotted 2px var(--f3);
}

.kriteriumteil:first-child {
    padding-top: 12px;
}

.kriteriumteil:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.erlaeuterung {
    padding-bottom: 0.5em;
}

.erlaeuterung p {
    padding-bottom: 0;
}

p.hinweis,
ul.hinweis {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--f4);
}

p.hinweisextra {
    font-size: 0.9em;
    font-weight: 700;
    color: var(--f4);
}

.fancybox-button--arrow_right, .fancybox-button--arrow_left, .fancybox-button--play, .fancybox-infobar {
    display: none;
}


/* ###### FILELIST ######### */

.uploadlist {

}

.filelist-item {
    font-size: 0.85em;
    background: #fdfaf0;
    max-width: 802px;
    padding: 6px;
    margin-bottom: 6px;
}

.filelist-item:hover {
    background-color: #fffdf7;
}

.filelist-item a:link {
    color: var(--f4);
}
.filelist-item a {
    padding-left: 24px;
    background-image: url("../Img/extension/wasauchimmer.svg");
    background-size: 16px;
    background-repeat: no-repeat;
}
.filelist-item a.ext-pdf, .filelist-item a.ext-PDF {
    background-image: url("../Img/extension/pdf.svg");
}
.filelist-item a.ext-docx, .filelist-item a.ext-doc, .filelist-item a.ext-rtf, .filelist-item a.ext-odt {
    background-image: url("../Img/extension/doc.svg");
}
.filelist-item a.ext-xlsx, .filelist-item a.ext-xls {
    background-image: url("../Img/extension/xls.svg");
}
.filelist-item a.ext-jpg, .filelist-item a.ext-JPG, .filelist-item a.ext-jpeg, .filelist-item a.ext-gif, .filelist-item a.ext-png {
    background-image: url("../Img/extension/jpg.svg");
}


.filedelete {
    margin-top: -2px;
    float: right;
    width: 20px;
    height: 20px;
    box-shadow: 2px 2px 2px var(--f2);
    background-image: url('../Img/delete.svg');
    opacity: 0.25;
    z-index: 999;
}

.nextdel {
    display: none;
}

.filedelete:hover,
.geloescht .filedelete {
    box-shadow: none;
    opacity: 1;
}

.filelist-item.geloescht  {
    opacity: 0.3;
}

.anmerkungstext {
    padding: 6px 8px;
    background: #fdfaf0;
    font-size: 0.9em;
    margin-top: 6px;
}


.formfields {
    margin: 24px 0 20px 0;
    display: flex;
}

.formfields .col,
.formfields .col-2,
.formfields .col-3,
.formfields .col-4,
.formfields .col-5,
.formfields .col-6,
.formfields .col-7,
.formfields .col-8,
.formfields .col-9,
.formfields .col-10,
.formfields .col-11 {
    padding: 0;
}

formfield {
    flex-basis: 50%;
}

label {
    text-transform: uppercase;
    font-size: 0.8em;
    display: block;
}

.reqlabel::after,
label.reqlabel::after {
    content: '*';
    font-family: Arial;
    font-size: 1.4em;
    line-height: 1px;
    padding-left: 1px;
}

input,
textarea {
    accent-color: var(--f3);
}

input[type="text"],input[type="email"], input[type="password"] {
    width: 80%;
    margin-bottom: 20px;
    border: solid 1px var(--f1);
}
input[type="email"] {
    margin: 6px 0;
    padding: 6px;
    border: solid 1px #ddd;
    border-radius: 3px;
}
input[type="text"].breite100 {
    width: 97%;
}

textarea {
    background: #fff;
    border: 1px solid var(--f1);
    border-radius: 3px;
    margin: 6px 0;
    padding: 6px;
    width: 80%;
    resize: none;
    margin-bottom: 20px;
    height: 107px;
}

select {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    background: #fff;
    border: 1px solid var(--f1);
    border-radius: 3px;
    margin: 6px 0 20px 0;
    padding: 6px;
    width: 80%;
}

.multi-select-menu {
    margin: 20px 0;
    background: #fff;
    padding: 10px 0 2px 10px;
    border: 1px solid var(--f3);
    max-width: 50%;
    max-height: 300px;
    overflow: auto;
}

.multi-select-menu label {
    margin-bottom: 12px;
    text-transform: unset;
    font-size: 1em;
}

.multi-select-button {
    display: none;
}

input[type="file"] {
    font-size: 0.9em;
    font-style: italic;
}

input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--f4);
    background: #fff;
    margin-right: 12px;
    margin-bottom: -2px;
    cursor: pointer;
}

label input[type="checkbox"] {
    margin-bottom: -5px;
}

input[type="checkbox"]:checked, input[type="checkbox"].checked {
    background-color: var(--f2);
    background-image: url('../Img/hakerl.svg');
    background-size: 86%;
    background-position: center;
    background-repeat: no-repeat;
}

input[type="checkbox"]:disabled {
    border: 1px solid var(--f4);
    background-color: var(--f1);
    background-image: url('../Img/hakerl_m.svg');
    background-size: 86%;
    background-position: center;
    background-repeat: no-repeat;
}

input::file-selector-button,
input[type="file"]::file-selector-button {
    background-color: var(--f3);
    border: 1px solid var(--f4);
    color: #fff;
    border-radius: 3px;
    padding: 6px;
    margin: 6px 0;
    width: 150px;
    font-family: 'Raleway', sans-serif;
    margin-right: 24px;
    filter: drop-shadow(2px 2px 2px var(--f2));
}

input::file-selector-button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: var(--f4);
    filter: none;
    cursor: pointer;
}

input[type="submit"].knopf-s, .knopfersatz.knopf-s{
    padding: 12px 48px;
    background-color: var(--f3);
    border: none;
    color: #fff;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.9em;
}
.knopfersatz.knopf-s{
    border-radius: 4px;
    width: 175px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: inline;
}
a.knopfersatz {
    text-decoration: none;
}
input[type="submit"].knopf-s:hover, .knopfersatz.knopf-s:hover {
    background-color: var(--f2);
    filter: none;
}
.knopfersatz.knopf-s.zurueck:hover {
    background-color: var(--standorte);
    filter: none;
}
input[type="submit"].knopf-s2 {
    padding: 9px 40px;
    background-color: var(--f3);
    border: none;
    color: #fff;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.8em;
}

.knopf-s2 {
    padding: 9px 40px;
    background-color: var(--f3);
    border-radius: 4px;
    border: none;
    color: #fff;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.8em;
}

.knopf-s2:hover {
    background-color: var(--f2);
    filter: none;
}

input[type="submit"].knopf-s2:hover {
    background-color: var(--f2);
    filter: none;
}

knopf.inline {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 20px;
    background-color: var(--f1);
    border: 1px solid var(--f2);
    border-radius: 3px;
    margin-left: 18px;
    box-shadow: 2px 2px 2px var(--f2);
    min-width: 88px;
    margin-bottom: 8px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
}

knopf.inline:hover {
    box-shadow: none;
    background-color: var(--f2);
    color: #ffffff;
}

knopf.inline.checked {
    filter: none;
    background-color: var(--f2);
    border-color: var(--f3);
    color: #fff;
    box-shadow: 1px 1px 2px var(--f3) inset;
}

a.knopf {
    text-decoration: none;
}

label.labelknopf {
    padding: 4px 16px;
    background-color: var(--f0);
    border: 1px solid var(--f2);
    border-radius: 3px;
    box-shadow: 2px 2px 2px var(--f1);
    width: 270px;
    cursor: pointer;
}

label.labelknopf:hover {
    box-shadow: none;
}

.oecert {
    display: none;
}

.oecert.checked {
    display: block;
}

.reqleer .multi-select-menu,
p.req-leer,
.reqfile.req-leer input,
input.req-leer,
select.req-leer,
textarea.req-leer {
    background-color: #fceaa1;
}

.bildungsbereich.req-leer {
    background-color: #fceaa1;
}


/* TRAINER NEW/EDIT */

#c-2-b,
#c-2-1,
#c-2-a-2 {
    display: none;
}

span.knopfrund {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: cover;
    vertical-align: middle;
}
span.knopfrund.ansuchenliste {
    width: 24px;
    height: 24px;
}
span.knopfrund.ok {
    background-image: url('../Img/rund_ok.svg');
}
span.knopfrund.ok-grey {
    background-image: url('../Img/rund_ok-grey.svg');
}
span.knopfrund.nicht-ok {
    background-image: url('../Img/rund_nicht-ok.svg');
}
span.knopfrund.ansuchenliste {
    background-image: url('../Img/rund_kette.svg');
}
span.knopfrund.auflage-1 {
    background-image: url('../Img/rund_ok.svg');
}
span.knopfrund.auflage-3 {
    background-image: url('../Img/rund_achtung-3.svg');
}
span.knopfrund.auflage-4 {
    background-image: url('../Img/rund_achtung-4.svg');
}
/* ANSUCHEN LISTE  */
table.ansuchenliste {
    border: solid 1px var(--f3);
    background: var(--f0);
    margin-bottom: 12px;
}
table.ansuchenliste td{
    padding: 8px;
}
.ansuchenliste_ansuchennr {
    width: 118px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 16px;
    color: var(--f3);
}
.ansuchenliste_ansuchenname {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 16px;
    color: var(--f4);
}
.ansuchenliste_ansuchenname code {
    font-size: 0.7em;
    font-weight: 400;
    padding-top: 6px;
    display: block;
}
table.ansuchenliste td.ansuchenliste_tr {
    background: var(--f4);
    color: #fff;
    font-size: 1em;
    padding: 0 8px;
}


/* ANSUCHEN NEW/EDIT */

span.ansuchennr {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--f3);
    display: blocK;
    padding-top: 8px;
}

#b-1-g-1 input,
#b-1-g-2 input {
    display: inline;
}

#erklaerungen-D label {
    text-transform: unset;
    font-size: 0.9em;
}


/* DL */

.tx-ieb table.ansuchenliste td {

}

.tx-ieb table.ansuchenliste.stammdaten td.chiffre {
    width: 12%;
}

.tx-ieb table.ansuchenliste .linie td {
    border-bottom: dotted 2px var(--f1);
    padding-top: 6px;
}

table.ansuchenliste td.chiffre {
    text-transform: uppercase;
    font-size: 0.8em;
}

table.ansuchenliste td.labeltext {
    text-transform: uppercase;
    font-size: 0.8em;
    width: 40%;
    text-align: right;
}

table.ansuchenliste td.check {
    font-size: 0.85em;
    font-weight: 600;
}

.check.fehlt {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    color: #c3161c;
}

.formlink, input[type="submit"].formlink {
    border: 0;
    border-radius: 4px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #fff;
    box-shadow: 2px 2px 2px #888;
    text-decoration: none;
    margin: 12px 0;
    display: inline-block;
}

.formlink:hover, input[type="submit"].formlink:hover {
    box-shadow: none;
    color: #fff;
}

.formlink.stammdaten {
    background-color: var(--stammdaten);
}

.formlink.stammdaten:hover {
    background-color: #da8702;
}

.formlink.ansuchen {
    background-color: var(--ansuchen);
}

.formlink.ansuchen:hover {
    background-color: #970e12;
}

.formlink.berater {
    background-color: var(--beratung);
}

.formlink.berater:hover {
    background-color: #6d94b7;
}

.formlink.trainer {
    background-color: var(--training);
}

.formlink.trainer:hover {
    background-color: #61913e;
}

.formlink.standorte {
    background-color: var(--standorte);
}

.formlink.standorte:hover {
    background-color: #ddb903;
}

.formlink.angebotssteuernde {
    background-color: var(--angebotsverantwortliche);
}

.formlink.angebotssteuernde:hover {
    background-color: #97a136;
}

.formzeile {
    margin: 24px 0 24px 0;
}

.anmerkung {
    display: none;
}

.anmerkunglabel {
    margin-top: 26px;
}

p.erklaerung {
    font-size: 0.9em;
    /* font-weight: 600; */
    background-color: #fff;
    padding: 8px;
    color: var(--f3);
}

table.angebotssteuerung {
    margin-bottom: 24px;
}

.angebotssteuerung th {
    padding: 8px 3px;
    color: #fff;
}

.angebotssteuerung td {
    padding: 8px 3px;
    border-top: solid 1px var(--f3);
}

.angebotssteuerung tr.angebotssteuernd td {
    background: var(--f1);
}

.angebotssteuerung .spalte-1 {
    /* background-color: var(--f3); */
    text-align: center;
    width: 51px;
}

.angebotssteuerung .spalte-2 {
    background-color: var(--f2);
    text-align: center;
    width: 51px;
}

.angebotssteuerung .spalte-2 input {
    display: none;
}


/* ANSUCHEN SHOW */

#ansuchen-show .begutachtung-kriterium .rechts,
#trainer-show .begutachtung-kriterium .rechts,
#berater-show .begutachtung-kriterium .rechts, 
#stammdaten-show .begutachtung-kriterium .rechts  {
    background: var(--f0b);
}

/* TABELLE  */

table.tx_ieb {
    margin: 40px 0;
    /* border-top: 2px solid #DADBCF; */
}

.tx-ieb table.tx_ieb.trainer {
    border-collapse: separate;
}

table.tx_ieb th {
    font-weight: 400;
    font-size: 0.75em;
    text-align: left;
    padding: 4px 3px 4px 2px;
}

 table.tx_ieb td:first-of-type, table.tx_ieb th:first-of-type {
    padding-left: 8px;
}

.tx_ieb tr:nth-child(even) {
    background: var(--f0a);
}

.tx_ieb tr:nth-child(odd) {
    background: var(--f0b);
}

.tx_ieb tr.unok:nth-child(even) {
    background: var(--fg0);
}

.tx_ieb tr.unok:nth-child(odd) {
    background: var(--fg1);
}

.tx_ieb tr.istok:nth-child(even) td.unok {
    background: var(--fg0);
    border-top: solid 3px var(--f0a);
    border-bottom: solid 3px var(--f0a);
}

.tx_ieb tr.istok:nth-child(odd) td.unok {
    background: var(--fg1);
    border-top: solid 3px var(--f0b);
    border-bottom: solid 3px var(--f0b);
}

table.tx_ieb td {
    padding: 10px 3px 10px 2px;
}

table.tx_ieb.trainer td {
    padding: 7px 3px 7px 2px;
}

.tx-ieb table .td-knopf {
    width: 44px;
    text-align: center;
    vertical-align: middle;
}

.knopf-quadratisch {
    display: inline-block;
    background-color: var(--f3);
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.8em;
    vertical-align: bottom;
}

.knopf-quadratisch:hover {
    background-color: var(--f2);
    filter: none;
    text-decoration: none;
}

.td-knopf .knopf-quadratisch.edit {
    background-image: url('../Img/Edit_hell.svg');
}

.td-knopf .knopf-quadratisch.hide {
    background-image: url('../Img/hide_hell.svg');
}

.td-knopf .knopf-quadratisch.show {
    background-image: url('../Img/show_hell.svg');
}

.td-knopf .knopf-quadratisch.revive {
    background-image: url('../Img/revive_hell.svg');
}

.td-knopf .knopf-quadratisch.locked {
    background-image: url('../Img/lock.svg');
    background-size: 100%;
}

.td-knopf .knopf-quadratisch.locked-grey {
    background-image: url('../Img/lock-grey.svg');
    background-size: 100%;
}

.td-knopf .knopf-quadratisch.locked-to-unlock {
    background-image: url('../Img/lock_invers.svg');
    background-size: 100%;
}
.td-knopf .knopf-quadratisch.locked-to-unluck:hover {
    background-image: url('../Img/unlock_invers.svg');
    background-size: 100%;
}
.td-knopf .knopf-quadratisch.delete {
    background-image: url('../Img/delete.svg');
    background-size: 100%;
}
.td-knopf .knopf-quadratisch.einreichen {
    background-image: url('../Img/einreichen.svg');
    background-size: 100%;
}
.td-knopf .knopf-quadratisch.clone {
    background-image: url('../Img/clone.svg');
    background-size: 100%;
}
table.tx_ieb td.nachname {
    padding-left: 8px;
    font-weight: 600;
}

table.tx_ieb tr:hover,
table.tx_ieb tr.unok:hover {
    background: #f9f7f0;
}


/* SUCHE 
 */

span.label {
    text-transform: uppercase;
    font-size: 0.8em;
}

span.suchwort {
    font-weight: 600;
}

#suche .col-3 {
    padding-top: 22px;
}

.knopf-s2.suchezurueck {
    background-color: var(--f2);
    text-transform: uppercase;
    text-decoration: none;
}

.knopf-s2.suchezurueck:hover {
    color: var(--f4);
}


/* JS Anzeigemanagement
 */

.babi,
.psa,
.japruef,
.neinpruef {
    display: none;
}

.ischecked {
    display: block;
}


/* ANSUCHEN: Standorte  */

table.tx_ieb.standortliste td {
    padding-left: 12px;
    padding-right: 12px;
}

.standorte {
    margin-top: 12px;
}

.standorte td {
    vertical-align: top;
    border-top: solid 1px var(--f4);
    border-bottom: solid 1px var(--f4);
    padding: 4px;
}


/* ANSUCHEN: BERATERWAHL */

#ansuchenbereichbabi {
    text-transform: uppercase;
}

#beraterwahl {
    display: none;
    width: 800px;
    height: auto;
    background-color: var(--f2);
    padding: 16px;
    position: fixed;
    top: 3em;
    right: 4em;
    z-index: 99999;
}


/* ARCHIV (Listen) */

.archiv {
    background: var(--f0b);
    padding: 10px 0;
    font-size: 0.9em;
}
.archiv table.tx_ieb {
    margin: 0;
}
.archiv h2 {
    margin: 0;
    padding: 0;
    padding-left: 8px;
}

.light {
    opacity: 0.5;
}


/* BEGUTACHTUNG ANSUCHEN  */

.notvisible {
    display: none;
}

.begutachtung-kopf p.name {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--f4);
    padding: 0;
    font-size: 1.1em;
}

.begutachtung-kopf span.nr {
    color: var(--f2);
}

.begutachtung-kopf h1 {
    color: var(--f4);
    margin: 0;
}

.begutachtung-kopf p.typ {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--f3);
    padding: 0;
    font-size: 1.1em;
    padding-top: 36px;
    text-align: right;
}

.kriteriumtitel {
    background: var(--f0b);
    margin-right: -20px;
    margin-left: -20px;
    padding: 12px;
}

.kriteriumtitel h2 {
    color: var(--f4);
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.kriteriumtitel .infoknopf {
    width: 30px;
    height: 30px;
    filter: drop-shadow(2px 2px 2px var(--f2));
    cursor: pointer;
    background-image: url(../Img/info.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 40px;
    margin-top: -6px;
}

.kriteriumtitel .infoknopf:hover,
.kriteriumtitel .infoknopf.checked {
    filter: none;
}

.kriteriumtitel .infoknopf.checked {
    background-image: url(../Img/info-2.svg);
}

.begutachtung-kriterium {
    margin-bottom: 40px;
}
.begutachtung-kriterium .col{
    padding-top: 0;
}

.begutachtung-kriterium .links {
    background: var(--f0b);
    padding-bottom: 20px;
}

.begutachtung-kriterium .rechts {
    background: var(--f2);
}
.begutachtung-kriterium .rechts.ohne-bg {
    background: var(--f0b);
}
.begutachtung-kriterium h3 {
    font-size: 1.2em;
    color: var(--f4);
}

.begutachtung-kriterium .erlaeuterung {
    display: none;
    background: #e3e4d9;
    padding: 8px;
    font-size: 0.9em;
    margin: 12px 0 24px 0;
}

.begutachtung-kriterium .showinfobox {
    border: solid 1px var(--standorte);
    padding: 4px;
}

.tx-ieb table.ansuchenbegutachtung td {
    padding: 6px 8px 0 0;
    vertical-align: top;
}

.tx-ieb table.ansuchenbegutachtung td.chiffre {
    width: 10%;
}

.tx-ieb table.ansuchenbegutachtung .linie td {
    border-bottom: dotted 2px var(--f1);
    padding-top: 6px;
}

table.ansuchenbegutachtung td.chiffre {
    text-transform: uppercase;
    font-size: 0.8em;
}

table.ansuchenbegutachtung td.labeltext {
    text-transform: uppercase;
    font-size: 0.8em;
    width: 40%;
    text-align: right;
    padding-top: 8px;
}

table.ansuchenbegutachtung td.daten {
    font-size: 0.93em;
}

table.ansuchenbegutachtung td.check {
    font-size: 0.85em;
    font-weight: 600;
}

.komm-int {
    color: var(--f5);
    font-size: 0.8em;
}
.komm-int p {
    padding: 2px 0;
}

.komm-int span.name {
    text-transform: uppercase;
    color: #fff;
    padding-right: 8px;
}

.begutachtung-kriterium textarea {
    width: 100%;
}

.begutachtung-kriterium .knopf {
    cursor: pointer;
    padding: 8px 8px;
    background-color: var(--f2);
    color: #fff;
    border: solid 1px #898989;
    filter: drop-shadow(2px 2px 2px #677878);
    font-size: 0.8em;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
}

.begutachtung-kriterium .knopf.nan,
.begutachtung-kriterium .knopf input {
    display: none;
}

.begutachtung-kriterium .knopf:hover {
    filter: none;
}

.begutachtung-kriterium .knopf.checked {
    filter: none;
}

.begutachtung-kriterium .knopf.ok:hover,
.begutachtung-kriterium .knopf.ok.checked {
    background: var(--angebotsverantwortliche);
    border: solid 1px #fff;
}

.begutachtung-kriterium .knopf.zweit:hover,
.begutachtung-kriterium .knopf.zweit.checked {
    background: var(--standorte);
    border: solid 1px #fff;
}

.begutachtung-kriterium .knopf.plenum:hover,
.begutachtung-kriterium .knopf.plenum.checked {
    background: var(--stammdaten);
    border: solid 1px #fff;
}

.begutachtung-kriterium .knopf.auflage:hover,
.begutachtung-kriterium .knopf.auflage.checked {
    background: #7c549a;
    border: solid 1px #fff;
}

.begutachtung-kriterium .knopf.nicht-ok:hover,
.begutachtung-kriterium .knopf.nicht-ok.checked {
    background: var(--ansuchen);
    border: solid 1px #fff;
}

.begutachtung-kriterium .knoepfe {
    display: flex;
    gap: 9px;
    margin-bottom: 30px;
}

.begutachtung-kriterium .knoepfe>* {
    width: 25%;
    flex-grow: 1;
}

.begutachtung-kriterium .komm-ext,
.textbausteine {
    display: none;
}

.begutachtung-kriterium .komm-ext.vis {
    display: block;
}

#summestatus .knopf {
    filter: drop-shadow(0 0 0 #677878);
}

#summestatus .knopf:hover {
    cursor: default;
    background-color: var(--f2);
    border: solid 1px #898989;
}

.begutachtung-kriterium .standort {
    background: var(--f0a);
    padding: 4px;
    margin-bottom: 12px;
}

.textbaustein {
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--f0b);
    padding: 8px;
    font-size: 0.8em;
    margin-bottom: 8px;
}

.textbaustein:hover {
    background-color: var(--f0);
}

.textbaustein p {
    padding: 0;
}

.show-uploads {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #c0c7b7;
    font-size: 0.9em;
}

.standortdetails {
    font-size: 0.8em;
    line-height: 100%;
}

.begutachtung-kriterium .row.person .links {
    border-bottom: 2px dotted var(--f3);
}

.begutachtung-kriterium .row.person .rechts {
    border-bottom: 2px dotted #fff;
}

.person-statuskugel {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-left: 24px;
    vertical-align: top;
}
.status-babi, .status-psa {
    display: inline;
    width: auto;
}
.bereich-1 .status-babi .person-statuskugel,.bereich-2 .status-psa .person-statuskugel, .berater.person-statuskugel{
    border: solid 2px #fff;
}
.bereich-2 .status-babi .person-statuskugel, .bereich-1 .status-psa .person-statuskugel{
    border: solid 2px var(--f5);
    opacity: 0.3;
}
.person-statuskugel.status-1 {
    background-color: var(--angebotsverantwortliche);
}
span.person-statuskugel.status-2 {
    background-color: var(--stammdaten); 
}
span.person-statuskugel.status-3 {
    background-color: #7c549a;
}
.person-statuskugel.status-4 {
    background-color: var(--ansuchen);
}


.begutachtung-kriterium.status-4 {
    border: solid 3px var(--ansuchen);
}
.begutachtung-kriterium.status-3 {
    border: solid 3px var(--stammdaten);
}
.begutachtung-kriterium.status-2 {
    border: solid 3px var(--standorte);
}

/* Schlusskommentar */
.schlusskommentar {
    background: var(--f2);
    margin: 0 -20px;
    padding: 20px;
}
.schlusskommentar textarea {
    font-size: 1.3em;
}

/* Checkboxes Begutachtung */

span.checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid var(--f4);
    background: #fff;
    background-color: rgb(255, 255, 255);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    margin-right: 12px;
    margin-bottom: -2px;
}

span.checkbox.checked {
    background-color: var(--f2);
    background-image: url('../Img/hakerl.svg');
    background-size: 86%;
    background-position: center;
    background-repeat: no-repeat;
}

span.checkbox.diff {
    border: 3px solid var(--beratung);
    width:  24px;
    height: 24px;   
    margin-bottom: -2px;
}

span.diff-mark {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: var(--beratung);
    margin-right: 12px;
    margin-bottom: -2px;
}


.trainerqualifikationsbegutachtung {
    background: var(--f0b);
    padding-right: 0;
}
.trainerqualifikationsbegutachtung table {
    width: 100%;
}
.trainerqualifikationsbegutachtung table td.r{
    background: var(--f2);
    width: 42.66666667%;
    padding-left: 24px;
}
.trainerqualifikationsbegutachtung table td{
    border-bottom: 1px solid #fff;
    padding: 12px 0 10px 12px;
}
.trainerqualifikationsbegutachtung table tr:hover td {
    background: var(--f1);
}

select#field_upcomingStatus {
    font-size: 1.2em;
    width: 330px;
}
select#field_upcomingStatus option[value=100] {
    background-color: var(--angebotsverantwortliche);
}

/* ############################ TR FormFields NACH BEUTACHTUNG ############### */
.kriterium.status-4, table.ansuchenliste.status-4 {
    border: solid 3px var(--stammdaten);
}
.commentTr {
    border: solid 3px #fff;
    background-color: #feb14c;
    padding: 6px 12px;
    font-style:italic;
}
.commentTr td{
    border: solid 3px var(--stammdaten);
    background-color: #feb14c;
    padding: 0 12px;
    font-style:italic;
}
/* READONLY  ############# */
.begutachtung-kopf.readonly p.typ {
    padding-top: 10px;
}



/* ############### DIFF ################### */
.diff {
    background: var(--beratung);
    padding: 2px 4px 2px 8px;
    margin-top: 8px;
    font-size: 0.85em;
}
.diff .vorher {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #fff;
}

.vorher-knopf {
    background: var(--beratung);
    padding: 2px 8px 0 8px;
    margin-left: 12px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #fff;
    display: inline-block;
    line-height: 16px;
}


/* Kommentar bei Vergleich von Kopien */
.comment-diff {
    background: var(--f1);
    padding: 8px;
    margin-bottom: 8px;
    font-size: 1em;
}
.comment-diff h4 {
    color: var(--f4);
    font-size: 0.9em;
}
.begutachtung-kriterium .comment-diff label.knopf {
    max-width: 100px;
    cursor: default;
    float: right;
}
.comment-diff .komm-int {
    color: var(--f4);
    margin-bottom: 12px;
}
.comment-diff label {
    font-size: 12px;
}
.comment-diff p { 
    margin: 0;
    padding: 2px 0;
}
.comment-diff .komm-tr {
    font-size: 12px;
}



ul.typo3-messages li {
    list-style: none;
}


/* NOTITZZETTEL */

#notitzzettel {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
    background: #fbf2af;
    box-shadow: 4px 4px 9px 0px #aaa;
    border-radius: 0;
    display: none;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 41%;
    right: 10px;
    width: 50px;
}
#sidebar input[type="submit"].knopf-s.sidebar {
    height: 30px;
    width: 30px;
    margin:0;
    padding:0;
    background-size: cover;
    margin-bottom: 12px;
}
.sidebar.speichern, .sidebar.speichern:hover {
    background-image: url('../Img/speichern.svg');
}
#sidebar .knopf-s {
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px var(--f2));
}
#sidebar .knopf-s:hover {
    filter: none;
    cursor: pointer;
    opacity: 0.8;
}
#seite-nach-oben {
    background-image: url('../Img/pfeil-oben.svg');
    background-size: cover;
}
#seite-nach-unten {
    background-image: url('../Img/pfeil-unten.svg');
    background-size: cover;
}
#notitzzettel-oeffnen {
    background-image: url('../Img/notitz.svg');
    background-size: cover;
}