/* FARBEN 

rot: c3161c


*/

:root {
    /* HAUPTFARBEN */
    --f0: #ede9de;
    --f1: #c0c7b7;
    --f2: #94a89c;
    --f3: #6b8884;
    --f4: #48686f;
    --f5: #2f4858;
    /* extrahell */
    --f0a: #e5e6d8;
    --f0b: #DADBCF;
    /* WARNEN (gelb) */
    --fg0: #f7edbd;
    --fg1: #f5e7a5;
}

.tx-ieb table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* PRINT */

@media print {
    @page {
        margin: 15mm;
    }
    .container {
        width: 100%;
        max-width: 100%;
    }
    .kriterium {
        break-inside: avoid;
    }
    #top,
    #kopfcontainer,
    .subnavigation {
        display: none;
    }
    .oecert.oecert-1,
    .oecert.oecert-2,
    #c-2-1,
    #c-2-a-2,
    #c-2-b {
        display: block;
    }
}


/* print ende */

body {
    background-color: #f1ede4;
}

.fett {
    font-weight: 600;
}

.abstandoben {
    margin-top: 20px;
}

label {
    margin-bottom: 2px;
}

label.inline {
    display: inline;
}

.kriterium {
    position: relative;
    border: solid 1px var(--f3);
    padding: 0 20px;
    background: var(--f0);
    margin-bottom: 36px;
}

h2 {
    color: var(--f4);
}

.kriterium h3,
.kriterium h4 {
    color: var(--f4);
}

.info {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 30px;
    height: 30px;
    filter: drop-shadow(2px 2px 2px var(--f2));
    cursor: pointer;
    background-image: url(../Img/info.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.kriteriumteil .info {
    top: -13px;
}

.kriteriumteil:first-child .info {
    top: 16px;
}

.info:hover {
    filter: none;
    opacity: 0.8;
}

.info.checked {
    background-image: url(../Img/close.svg);
}

.infobox {
    display: none;
    border: 4px solid var(--f4);
    width: 490px;
    height: auto;
    padding: 24px 18px;
    position: absolute;
    right: 40px;
    top: 54px;
    background-color: var(--f3);
    box-shadow: 2px 2px 8px var(--f3);
    color: #fff;
    font-size: 0.9em;
    line-height: 150%;
    z-index: 9999;
}

.kriteriumteil .infobox {
    top: 25px;
}

.kriteriumteil {
    position: relative;
    padding-bottom: 2px;
    margin-bottom: 37px;
    border-bottom: dotted 2px var(--f3);
}

.kriteriumteil:first-child {
    padding-top: 12px;
}

.kriteriumteil:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.erlaeuterung {
    padding-bottom: 0.5em;
}

.erlaeuterung p {
    padding-bottom: 0;
}

p.hinweis,
ul.hinweis {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--f4);
}

p.hinweisextra {
    font-size: 0.9em;
    font-weight: 700;
    color: var(--f4);
}

span.worthinweis {
    text-transform: uppercase;
}

.formfields {
    margin: 24px 0 20px 0;
    display: flex;
}

.formfields .row {
    margin: 0;
}

.formfields .col,
.formfields .col-2,
.formfields .col-3,
.formfields .col-4,
.formfields .col-5,
.formfields .col-6,
.formfields .col-7,
.formfields .col-8,
.formfields .col-9,
.formfields .col-10,
.formfields .col-11 {
    padding: 0;
}

formfield {
    flex-basis: 50%;
}

label {
    text-transform: uppercase;
    font-size: 0.8em;
    display: block;
}

label.req::after {
    content: '*';
    font-family: Arial;
    font-size: 1.4em;
    line-height: 1px;
    padding-left: 1px;
}

input,
textarea {
    accent-color: var(--f3);
}

input[type="text"] {
    width: 80%;
    margin-bottom: 20px;
    border: solid 1px var(--f1);
}

input[type="text"].breite100 {
    width: 97%;
}

textarea {
    background: #fff;
    border: 1px solid var(--f1);
    border-radius: 3px;
    margin: 6px 0;
    padding: 6px;
    width: 80%;
    resize: none;
    margin-bottom: 20px;
    height: 107px;
}

select {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    background: #fff;
    border: 1px solid var(--f1);
    border-radius: 3px;
    margin: 6px 0 20px 0;
    padding: 6px;
    width: 60%;
}

input[type="file"] {
    font-size: 0.9em;
    font-style: italic;
}

input::file-selector-button,
input[type="file"]::file-selector-button {
    background-color: var(--f3);
    border: 1px solid var(--f4);
    color: #fff;
    border-radius: 3px;
    padding: 6px;
    margin: 6px 0;
    width: 150px;
    font-family: 'Raleway', sans-serif;
    margin-right: 24px;
    filter: drop-shadow(2px 2px 2px var(--f2));
}

input::file-selector-button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: var(--f4);
    filter: none;
    cursor: pointer;
}

input[type="submit"].knopf-s {
    padding: 12px 48px;
    background-color: var(--f3);
    border: none;
    color: #fff;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.9em;
}

input[type="submit"].knopf-s:hover {
    background-color: var(--f2);
    filter: none;
}

input[type="submit"].knopf-s2 {
    padding: 9px 40px;
    background-color: var(--f3);
    border: none;
    color: #fff;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.8em;
}

.knopf-s2 {
    padding: 9px 40px;
    background-color: var(--f3);
    border-radius: 4px;
    border: none;
    color: #fff;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.8em;
}

.knopf-s2:hover {
    background-color: var(--f2);
    filter: none;
}

input[type="submit"].knopf-s2:hover {
    background-color: var(--f2);
    filter: none;
}

knopf.inline {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 20px;
    background-color: var(--f1);
    border: 1px solid var(--f2);
    border-radius: 3px;
    margin-left: 18px;
    box-shadow: 2px 2px 2px var(--f2);
    min-width: 88px;
    margin-bottom: 8px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
}

knopf.inline:hover {
    box-shadow: none;
    background-color: var(--f2);
    color: #ffffff;
}

knopf.inline.checked {
    filter: none;
    background-color: var(--f2);
    border-color: var(--f3);
    color: #fff;
    box-shadow: 1px 1px 2px var(--f3) inset;
}

label.labelknopf {
    padding: 4px 16px;
    background-color: var(--f0);
    border: 1px solid var(--f2);
    border-radius: 3px;
    box-shadow: 2px 2px 2px var(--f1);
    width: 270px;
}

.oecert {
    display: none;
}

.oecert.checked {
    display: block;
}

input.req-leer,
select.req-leer,
textarea.req-leer {
    background-color: #fceaa1;
}


/* TRAINER NEW/EDIT */

#c-2-b,
#c-2-1,
#c-2-a-2 {
    display: none;
}


/* ANSUCHEN NEW/EDIT */

span.ansuchennr {
    font-size: 1.5em;
}

#b-1-g-1 input,
#b-1-g-2 input {
    display: inline;
}


/* DL */

.tx-ieb table.ansuchenliste td {
    padding: 6px 8px 0 0;
    vertical-align: top;
}

.tx-ieb table.ansuchenliste .linie td {
    border-bottom: dotted 2px var(--f1);
    padding-top: 6px;
}

table.ansuchenliste td.chiffre {
    text-transform: uppercase;
    font-size: 0.8em;
}

table.ansuchenliste td.labeltext {
    text-transform: uppercase;
    font-size: 0.8em;
    width: 40%;
    text-align: right;
}

table.ansuchenliste td.check {
    font-size: 0.85em;
    font-weight: 600;
}

.check.fehlt {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight 600;
    color: #c3161c;
}

.formlink {
    border-radius: 4px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #fff;
    box-shadow: 2px 2px 2px #888;
    text-decoration: none;
    margin: 12px 0;
    display: inline-block;
}

.formlink:hover {
    box-shadow: none;
    color: #fff;
}

.formlink.stammdaten {
    background-color: var(--stammdaten);
}

.formlink.stammdaten:hover {
    background-color: #da8702;
}

.formlink.ansuchen {
    background-color: var(--ansuchen);
}

.formlink.ansuchen:hover {
    background-color: #970e12;
}

.formlink.berater {
    background-color: var(--beratung);
}

.formlink.berater:hover {
    background-color: #6d94b7;
}

.formlink.trainer {
    background-color: var(--training);
}

.formlink.trainer:hover {
    background-color: #61913e;
}

.formlink.standorte {
    background-color: var(--standorte);
}

.formlink.standorte:hover {
    background-color: #ddb903;
}

.formlink.angebotssteuernde {
    background-color: var(--angebotsverantwortliche);
}

.formlink.angebotssteuernde:hover {
    background-color: #97a136;
}

.formzeile {
    margin: 24px 0 24px 0;
}

.anmerkung {
    display: none;
}

p.erklaerung {
    font-size: 0.9em;
    /* font-weight: 600; */
    background-color: #fff;
    padding: 8px;
    color: var(--f3);
}

table.angebotssteuerung {
    margin-bottom: 24px;
}

.angebotssteuerung th {
    padding: 8px 3px;
    color: #fff;
}

.angebotssteuerung td {
    padding: 8px 3px;
    border-top: solid 1px var(--f3);
}

.angebotssteuerung tr.angebotssteuernd td {
    background: var(--f1);
}

.angebotssteuerung .spalte-1 {
    /* background-color: var(--f3); */
    text-align: center;
    width: 51px;
}

.angebotssteuerung .spalte-2 {
    background-color: var(--f2);
    text-align: center;
    width: 51px;
}

.angebotssteuerung .spalte-2 input {
    display: none;
}


/* TABELLE  */

table.tx_ieb {
    margin: 40px 0;
    /* border-top: 2px solid #DADBCF; */
}

table.tx_ieb th {
    font-weight: 400;
    font-size: 0.75em;
    text-align: left;
    padding: 0 3px 6px 2px;
}

.tx_ieb tr:nth-child(even) {
    background: var(--f0a);
}

.tx_ieb tr:nth-child(odd) {
    background: var(--f0b);
}

.tx_ieb tr.unok:nth-child(even) {
    background: var(--fg0);
}

.tx_ieb tr.unok:nth-child(odd) {
    background: var(--fg1);
}

table.tx_ieb td {
    padding: 10px 3px 10px 2px;
}

.td-knopf {
    width: 44px;
    text-align: center;
}

.knopf-quadratisch {
    display: inline-block;
    background-color: var(--f3);
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    filter: drop-shadow(2px 2px 2px var(--f2));
    font-size: 0.8em;
    vertical-align: bottom;
}

.knopf-quadratisch:hover {
    background-color: var(--f2);
    filter: none;
    text-decoration: none;
}

.td-knopf .knopf-quadratisch.edit {
    background-image: url('../Img/Edit_hell.svg');
}

.td-knopf .knopf-quadratisch.hide {
    background-image: url('../Img/hide_hell.svg');
}

.td-knopf .knopf-quadratisch.show {
    background-image: url('../Img/show_hell.svg');
}

table.tx_ieb td.nachname {
    padding-left: 8px;
    font-weight: 600;
}

table.tx_ieb tr:hover,
table.tx_ieb tr.unok:hover {
    background: #f9f7f0;
}


/* SUCHE 
 */

span.label {
    text-transform: uppercase;
    font-size: 0.8em;
}

span.suchwort {
    font-weight: 600;
}

#suche .col-3 {
    padding-top: 22px;
}

.knopf-s2.suchezurueck {
    background-color: var(--f2);
    text-transform: uppercase;
    text-decoration: none;
}

.knopf-s2.suchezurueck:hover {
    color: var(--f4);
}


/* JS Anzeigemanagement
 */

.babi,
.psa,
.japruef,
.neinpruef {
    display: none;
}

.ischecked {
    display: block;
}


/* ANSUCHEN: BERATERWAHL */

#beraterwahl {
    display: none;
    width: 800px;
    height: auto;
    background-color: var(--f2);
    padding: 16px;
    position: fixed;
    top: 3em;
    right: 4em;
    z-index: 99999;
}